[push]
	default = matching
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  aa = add --all
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[user]
	name = must-not-code
	email = test4food@me.com
[http]
	proxy = socks5://localhost:9050
[https]
	proxy = socks5://localhost:9050
